---
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenido al baul de luz.">
	<section class="grid gap-8 md:grid-cols-2">
		<img class="rounded-lg" src="https://daviletto.es/1181-large_default/bolso-bandolera-de-hombre-piel-daviletto.jpg" alt="bandolera">

		<div>
			<h1 class="text-3xl font-bold">Bienvenido al baul de luz</h1>
			<p>
				En el baul de luz encontrarás los mejores productos de ropa y complementos a los mejores precios. ¡No te lo pierdas!
			</p>
		</div>
	</section>
		
</Layout>